node_modules/
client/node_modules/
server/node_modules/

.env
client/.env
server/.env

server/db/database.sqlite

client/build/
server/dist/

.vscode/
*.log

*.zip
*.tmp
*.bak
StorylineProjectFlow.md
